@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mobile-navigation {
    @apply fixed 
    bottom-0 
    left-0 
    z-50 
    flex 
    h-16 
    w-full 
    flex-row 
    items-center 
    justify-evenly 
    border-t 
    border-gray-200 
    bg-white
    shadow;
  }
  .nav-link {
    @apply text-sm
    font-bold
    text-gray-600 
    no-underline
    transition
    ease-in-out
    hover:text-black
    focus:text-black 
    md:ml-4;
  }
}
